body {
background-color: pink;
}

h1 {
  color:Navy;
  font-size: 5em;
 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  background:12px;
}

#tasks .completed {
  
  text-decoration: underline;
}